@font-face {
  font-family: "Ubuntu-Regular";
  src: url("./fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("./fonts/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: "Ubuntu-Bold";
  src: url("./fonts/Ubuntu-Bold.ttf");
}

html {
  background-color: hsl(217, 100%, 97%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.center-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Margins */

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mb-0-5 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mt-0-5 {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-1-5 {
  margin-top: 1.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-2-5 {
  margin-top: 2.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.ms-1 {
  margin-left: 1rem;
}

.ms-2 {
  margin-left: 2rem;
}

.ms-3 {
  margin-left: 3rem;
}

.ms-4 {
  margin-left: 4rem;
}

.me-0-5 {
  margin-right: 0.5rem;
}

.me-1 {
  margin-right: 1rem;
}

.me-1-5 {
  margin-right: 1.5rem;
}

.me-2 {
  margin-right: 2rem;
}

.me-3 {
  margin-right: 3rem;
}

.me-4 {
  margin-right: 4rem;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Margins */

.row-1 {
  flex: 1 auto;
}

.row-2 {
  flex: 2 auto;
}

.row-3 {
  flex: 1 1 1;
}

.row-4 {
  flex: 1 1 1 1;
}

.cards-adons {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card-adons-monthly {
  border-radius: 10px;
  border: 1px solid grey;
  height: auto;
  width: 100%;
  justify-content: stretch;
  cursor: pointer;
}

.card-monthly {
  border-radius: 10px;
  border: 1px solid rgb(219, 219, 219);
  height: 10rem;
  width: 8.5rem;
  cursor: pointer;
}

.card-yearly {
  border-radius: 10px;
  border: 1px solid rgb(219, 219, 219);
  height: 11rem;
  width: 8.5rem;
  cursor: pointer;
}

.card-monthly-active {
  border: 1px solid hsl(243, 100%, 62%);
}

.card-yearly-active {
  border: 1px solid hsl(243, 100%, 62%);
}

.card-monthly:hover,
.card-yearly:hover {
  border: 1px solid hsl(243, 100%, 62%);
}

.justify-content-center {
  justify-content: center;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.d-sidebar {
  background-image: url("./images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 274px;
}

h1 {
  font-family: "Ubuntu-Bold";
  font-weight: 700;
  color: hsl(213, 96%, 18%);
}

h6 {
  font-family: "Ubuntu-Medium";
  font-size: 16px;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
}

p {
  font-family: "Ubuntu-Regular";
  font-weight: 400;
  color: hsl(231, 11%, 63%);
}

.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0.25rem;
  border: 1px solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.circle-active {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0.25rem;
  border: 1px solid hsl(0, 0%, 100%);
  color: hsl(213, 96%, 18%);
  background-color: hsl(206, 94%, 87%);
  text-align: center;
}

.container-plan,
.container {
  width: 65%;
  height: 600px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 7px 7px -1px rgba(0, 0, 0, 0.1);
  margin: 2.5rem auto;
}

.container-2 {
  height: 80%;
}

.container-adons {
  width: inherit;
}

.info-p {
  color: hsl(213, 96%, 18%);
  font-size: 15px;
}

.input {
  border-width: 1px;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
}

.footer {
  padding: 1rem 2.5rem;
  margin: 1rem;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-start {
  flex-direction: row-reverse;
}

.footer-pos {
  align-items: flex-end;
}

.d-btn-next {
  cursor: pointer;
  border-width: 1px;
  border-radius: 10px;
  padding: 1rem;
  background-color: #184a89;
  color: hsl(0, 0%, 100%);
}

.d-btn-prev {
  cursor: pointer;
  padding: 1rem;
  color: #184a89;
  border: none;
  background-color: transparent;
}

.switch {
  display: flex;
  justify-content: center;
}

#toggle {
  display: none;
}

label {
  width: 3rem;
  height: 1.5rem;
  background-color: hsl(213, 96%, 18%);
  border-radius: 25px;
  cursor: pointer;
}

label::after {
  content: "";
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-left: 0.3em;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  transition: transform 0.3s;
}

input[type="checkbox"]:checked + label {
  background-color: hsl(213, 96%, 18%);
}

input[type="checkbox"]:checked + label::after {
  transform: translateX(1.3rem);
}

.monthly,
.yearly {
  margin: 0.25em;
  font-family: "Ubuntu-Medium";
  font-weight: 500;
  font-size: 15px;
  color: hsl(231, 11%, 63%);
}

.monthly {
  margin-right: 1em;
}

.yearly {
  margin-left: 1em;
}

.active {
  color: hsl(213, 96%, 18%);
}

.sub {
  margin: 0.25rem 1rem;
  font-size: 14px;
  color: hsl(213, 96%, 18%);
}

@media (max-width: 750px) {
  .navbar {
    background-image: url("./images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .container {
    width: 90%;
    height: 420px;
    z-index: 10;
    margin-top: 6rem;
    justify-content: center;
  }
  .container-plan {
    width: 90%;
    height: 590px;
    z-index: 10;
    margin-top: 6rem;
    margin-bottom: 2rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0 7px 7px -1px rgba(0, 0, 0, 0.1);
    justify-content: center;
  }
  .m-btn-prev {
    padding: 1rem;
    color: #184a89;
    border: none;
    background-color: transparent;
  }
  .m-btn-next {
    border-width: 1px;
    border-radius: 10px;
    padding: 1rem;
    background-color: #184a89;
    color: hsl(0, 0%, 100%);
  }
  /* Footer */
  .m-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: 5rem;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .m-footer-start {
    flex-direction: row-reverse;
  }
  .footer {
    display: none;
  }
  /* Sidebar */
  .d-sidebar {
    display: none;
  }
  .plan,
  .info {
    margin: 1.5rem;
  }
  .card-yearly,
  .card-monthly {
    flex-direction: column;
  }
  .info-p {
    margin-top: 0.5rem;
  }
  .d-btn-prev,
  .d-btn-next {
    display: none;
  }
  /* Plan */
  .monthly,
  .yearly {
    font-weight: 600;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .card-monthly {
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .card-yearly {
    height: 6rem;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .card-middle {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .card-text {
    display: flex;
    flex-direction: column;
  }
  .h-plan {
    margin: 1rem 0rem 0rem;
  }
  .p-plan {
    margin: 0.5rem 0rem 0rem;
  }
  .sub {
    margin: 0.25rem 0rem 0rem;
  }
  /* Adons */
  .card-adons-monthly {
    height: 6.5rem;
  }
}

@media (max-width: 1189px) and (min-width: 751px) {
  .container {
    max-width: 65%;
  }
  .navbar {
    display: none;
  }
  .plan,
  .info {
    margin-left: 1rem;
    margin-right: 2rem;
  }
  .info-p {
    margin-top: 0.5rem;
  }
  /* Footer Section */
  .footer {
    padding: 0rem;
    margin-top: 0rem;
    justify-content: space-between;
  }
  .m-btn-next,
  .m-btn-prev,
  .m-footer {
    display: none;
  }
  /* Plan Section */
  .switch {
    margin-top: 1rem;
  }
  .cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .card-monthly {
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .card-yearly {
    height: 5.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .card-middle {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .card-text {
    display: flex;
    flex-direction: column;
  }
  .h-plan {
    margin: 1rem 0rem 0rem;
  }
  .p-plan {
    margin: 0.5rem 0rem 0rem;
  }
  .sub {
    margin: 0.25rem 0rem 0rem;
  }
  /* Adons */
  .card-adons-monthly {
    height: 6rem;
  }
}

@media (min-width: 1190px) and (max-width: 1499px) {
  .container {
    max-width: 65%;
  }
  .navbar {
    display: none;
  }
  .info {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .m-btn-next,
  .m-btn-prev,
  .m-footer {
    display: none;
  }
  /* Plan Section */
  .plan {
    margin-left: 4rem;
    margin-right: 2rem;
  }
  .cards {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
  }
  .h-plan {
    margin: 1rem 1rem 0rem;
  }
  .p-plan {
    margin: 0.5rem 1rem 0rem;
  }
  .switch {
    margin-top: 3rem;
  }
}

@media (min-width: 1500px) {
  .container-plan,
  .container {
    max-width: 55%;
  }
  .navbar {
    display: none;
  }
  .info {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .m-btn-next,
  .m-btn-prev,
  .m-footer {
    display: none;
  }
  /* Plan Section */
  .plan {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .cards {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
  }
  .h-plan {
    margin: 1rem 1rem 0rem;
  }
  .p-plan {
    margin: 0.5rem 1rem 0rem;
  }
  .switch {
    margin-top: 3rem;
  }
}
